<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {{!-- script for datatables  --}}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    {{!-- script for datatables  --}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css" integrity="sha512-gRH0EcIcYBFkQTnbpO8k0WlsD20x5VzjhOA1Og8+ZUAhcMUCvd+APD35FJw3GzHAP3e+mP28YcDJxVr745loHw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">

    <script type="module"src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"></script>
    <script nomodule src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"></script>


    <title>{{name}}</title>
    <script>
        $(document).ready(function() {
        $('.card-alert > button').on('click', function(){
        $(this).closest('div.card-alert').fadeOut('slow');
        })
    })
    </script>
</head>
<body>
    {{{body}}}
</body>
</html>